@import 'bootstrap';
@import 'bootstrap/theme';

$robins-egg: #6BCAE2;
$dark-teal: #51A5BA;
$grass-green: #41924B;
$light-mint: #AFEAAA;
$darker-mint: #87E293;
$accent-orange: #FE8402;
$dark-blue: #003366;



.activity-form {
  width: 50%;
  background-color: $light-mint;
  border-radius: 5px;
  padding: 2%;
}

.activities-container {
  padding: 1% 2%;
  background-color: $robins-egg;
  border-radius: 5px;
  width: 50%;
  margin-top: 2%;
}

.activity-row {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  clear: both;
  display: inline-flex;
  background-color: white;
  border-radius: 5px;
}

.activity-value {
  float: left;
}

.activity-row > * {
  width: 30%;
  padding: 1% 1%;
}

.hero-image {
  width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar {
  margin-bottom: 0px;
  padding: 0 10px;
}

.hero-text {
  width: 100%;
    top: 60px;
    left:0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.hero-title {
  font-size: 40px;
}

.org-registration-fields {
  display: inline-flex;
  width: 100%;
  margin-top: 100px;
  padding: 1%;

}

input {
  margin: 0 1%;
}

.create-org-btn {
  background-color: $dark-blue;
  color: white;
}

.create-org-btn {
  background-color: $dark-blue;
  color: white;
}

.learn-more {
  margin-top: 80px;
  background-color: $dark-blue;
  color: white;
}

.index-content {
  background-color: $dark-blue;
}

.user-forms {
  width: 70%;
  margin: 1% auto;
}

// .activity-name {
//  float: left;
// }
//
// .activity-delete {
//   float: left;
// }
