@import 'bootstrap';
@import 'bootstrap/theme';

$robins-egg: #6BCAE2;
$dark-teal: #51A5BA;
$grass-green: #41924B;
$light-mint: #AFEAAA;
$darker-mint: #87E293;
$soft-grey: #aec4cd;
$dark-blue: #003366;

.all-templates-container {
  background-color: white;
  width: 80%;
  margin: 3% auto;
  padding: 3%;
}

body {
  background-color: $dark-blue;
}

.standalone-form {
  margin: 3% auto;
}

.my-total-actions {
  width: 50%;
  float:left;
  background-color: $darker-mint;
  padding: 2%;
  margin: 2% auto;
  text-align: center;
}

.my-total-points {
  width: 50%;
  float:left;
  background-color: $robins-egg;
  padding: 2%;
  margin: 2% auto;
  text-align: center;
}

.activity-form {
  clear: left;
  width: 100%;
  background-color: $soft-grey;
  padding: 2%;
  margin-top: 3%;
}

.activities-container {
  clear: left;
  padding: 1% 2%;
  background-color: $robins-egg;
  width: 100%;
  margin: 3% 0;
}

.activity-row {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  clear: both;
  display: inline-flex;
  background-color: white;
  border-radius: 5px;
}

.activity-value {
  float: left;
}

.activity-row > * {
  padding: 1% 1%;
}

.org-act-row > * {
  padding: 1% 1%;
  width: 30%;
}

.activity-value {
  width: 5%;
}

.activity-delete {
  width: 10%;
}

.activity-category {
  width: 45%;
}
.activity-name {
  width: 45%;
}

.hero-image {
  width: 120%;
  margin: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar {
  margin-bottom: 0px;
  padding: 0 10px;
}

.hero-text {
  width: 100%;
    top: 60px;
    left:0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.hero-title {
  font-size: 40px;
}

.org-registration-fields {
  display: inline-flex;
  width: 100%;
  margin-top: 100px;
  padding: 1%;

}

input {
  margin: 0 1%;
}

.create-org-btn {
  background-color: $dark-blue;
  color: white;
}

.create-org-btn {
  background-color: $dark-blue;
  color: white;
}

.learn-more {
  margin-top: 80px;
  background-color: $dark-blue;
  color: white;
}

.index-content {
  background-color: $dark-blue;
}

.user-forms {
  width: 70%;
  margin: 1% auto;
}

.template-container {
  padding: 5%;
}

// .activity-name {
//  float: left;
// }
//
// .activity-delete {
//   float: left;
// }
