{{!-- Rows in the table of a user's past activities --}}

  <td><b>{{activity.value}}</b></td>
  <td>{{activity.name}}</td>
  <td>{{activity.category}}</td>
  <td><button class="delete-btn" {{action 'destroyActivity'}}>X</button></td>
