{{!-- Rows in the table of a user's past activities --}}
<div class="activity-row">
  <div class="activity-value">{{activity.value}}</div>
  <div class="activity-name">{{activity.name}}</div>
  <div class="activity-category">{{activity.category}}</div>
  <div class="activity-delete"><button class="delete-btn" {{action 'destroyActivity'}}>X</button></div>
</div>
