
<h4>My Activities</h4>
{{#each activities as |eachActivity|}}
  {{activity-row activity=eachActivity
                  updateActivity='routeUpdateActivity'
                  destroyActivity='destroyActivity'
  }}
{{/each}}
