{{!-- This is the "home" page for the site --}}

<div class="jumbotron">
  <div class="container">
  </div>
</div>

{{!-- <div>
  <img class="hero-image" src="https://bucketimgoinghome.s3.amazonaws.com/2016-04-27/1c7a50d26a6a4355ed5bb792c7bbdfdd">
</div> --}}

<div class="hero-text">
  <div class="hero-title">EARTHWARS</div>
  <div class="hero-desc">An Earth Week app for your organization, where the office is your battleground. Who will prevail?</div>
  <div>{{organization-form routeCreateOrganization='createOrganization'}}</div>
  <div><a href="#app-description"><button type="button" class="btn edit-org-btn btn-lg learn-more">Learn More</button></a></div>
</div>
<div class="all-templates-container" id="app-description">
<p>EarthWars is a turn-key game designed for your organization’s Earth Week;
  all you need is internet access and some optional prizes. Turn off a light to score points.
  Turn off the lights that someone else left on for TRIPLE POINTS. Do you know who left the light on?
  Challenge them! (Challenge feature coming soon!) If they don’t log their defense activity within 24 hours, you steal their points!
  Participants can also log their individual achievements, such as biking or walking to work, or using
  their own utensils instead of plastic. Every point earned goes towards the organization’s overall goals.
</p>
<p>
  Organizations are encouraged to offer daily prizes in the form of a drawing. For every X points, a participant gets 1 ticket for the drawing. This encourages group participation because anybody who logs an activity has a chance to win… but the most active users have a greater chance!
</p>
</div>
