<div>
  <img class="hero-image" src="https://github.com/jenweber/earthwars/blob/development/img/earthwars-hero3.jpg?raw=true">
</div>

<div class="hero-text">
  <div class="hero-title">EARTHWARS</div>
  <div class="hero-desc">An Earth Week app for your organization, where the office is your battleground</div>
  <div>{{organization-form routeCreateOrganization='createOrganization'}}</div>
  <div><button type="button" class="btn btn-primary btn-lg learn-more">Learn More</button></div>
</div>
<div class="index-content">index template</div>
