{{!-- Application Template - holds references to components --}}

<h1> Welcome to Ember! </h1>
<a>{{#link-to 'organization' tagName='h1'}} Organization Registration {{/link-to}}</a>
<a>{{#link-to 'activities' tagName='h1'}} Log an Activity {{/link-to}}</a>
{{outlet}}
{{my-application}}
