{{!-- Application Template - holds references to components --}}
{{my-application signOut="signOut"}}
<a>{{#link-to 'organization' tagName='h1'}} Organization Registration {{/link-to}}</a>
{{organization-form routeCreateOrganization='createOrganization'}}
