<div class="all-templates-container">
  {{!-- Total score of the user. Here model.length is used only so that when the value of model.length changes, the helper will detect the change and run again to update the score --}}
  <div class="my-total-points">
    <div class="scoring">{{sumValues model model.length}}</div>
    <h4>Points Earned</h4>
  </div>
  {{!-- Number of activities logged so far --}}
  <div class="my-total-actions">
    <div class="scoring">{{model.length}}</div>
    <h4>Activities Logged</h4>
  </div>


  {{!-- form to create a new activity --}}
  {{activity-form createActivity="createActivity"}}

  {{!-- List of activities performed so far --}}
  {{activities-container activities=model routeUpdateActivity='updateActivity'
                                            routeDestroyActivity='destroyActivity'}}
</div>
