{{outlet}}

    {{activity-form createActivity="createActivity"}}

<div class="activities-container">
<h4>My Activities</h4>
  {{#each model as |eachActivity|}}
    {{activity-row activity=eachActivity
        routeUpdateActivity='updateActivity'
        routeDestroyActivity='destroyActivity'
    }}
  {{/each}}
</div>
