<div class="template-container">
<b>List of Activities</b>
<ul>
{{#each model.activities as |activity|}}
  <li><b>Name:</b> {{activity.name}}   <b>Value:</b> {{activity.value}}  <b>Org:</b> {{activity.organization.name}} </li>
{{/each}}
</ul>

{{#link-to "organization"}}Edit Organization Details{{/link-to}}
</div>
